<head>
    <title>{% block title %}Untitled{% endblock %} -- With dread but cautious optimism</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.5">
    <meta charset="UTF-8"> 
    {% block base %}
        <base href="./">
    {% endblock %}
    <link rel="icon" type="image/png"
     href="favicon.png" />

</head>

{#<body class="category_boat">#}
<body>
    <div id="background"> {# Keep me at the top! #}
	<div id="core">
	</div>
    </div>
    <h1 id="siteTitle">With dread but cautious optimism</h1>
    <nav id="mainNav">
        <div id="navCore">
            <div id="navLeft">
                <a href="index.html">Home</a>
                <a href="about.md.html">About</a>
{#                <a href="tags.html">Tags</a>#}
            </div>
            <div id="navMiddle">
            </div>
            <div id="navRight">
{#
                <form  action="/search.html">
                    <input id="search" type="search" name="q" placeholder="Search" spellcheck="true">
                    <button id="submitSearch">Q</button>
                </form>
#}
            </div>
        </div>
    </nav>
    {% block bodyContent %}
    {% endblock %}
    <footer>
{% block license %}
<p>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="static/cc-by-sa_4.0_80x15.png" />
    </a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
</p>

<p>Built using a custom static-site generator available <a href="https://github.com/traverseda/traverseda.github.io">here</a>.</p>

{% endblock %}
        {% assets filters="scss,cssmin", output="compiled.css", "main.scss" %}
	    <link rel=stylesheet type=text/css href="code/{{ ASSET_URL }}" media="screen">
	{% endassets %}
{#        {% assets filters="rjsmin", output="main.min.js", "brython/brython.js", "brython/brython_modules.js" %}
	    <link rel=stylesheet type=text/css href="code/{{ ASSET_URL }}" media="screen">
	{% endassets %}
#}
	<!-- Piwik -->
	<script type="text/javascript">
	  var _paq = _paq || [];
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  document.addEventListener('DOMContentLoaded', function() {
	    _paq.push(['setTrackerUrl',  'https://api-f2140b84e3ab2c1be5e64a35a9142f2b.oasis.sandstorm.io']);
	    _paq.push(['setSiteId', 1]);
	    _paq.push(['setApiToken', 'tJUK4Xy8lGfj9uzpUlG2Uevla-nNSOe5ws7OkDfZHt-']);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	    g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://j3l9oniyfxr8vx722f20.oasis.sandstorm.io/embed.js'; s.parentNode.insertBefore(g,s);

	  }, false);
	</script>
	<!-- End Piwik Code -->
    </footer>
</body>
