{% extends "base.html" %}

{% block title %}{{name}}{% endblock %}

{% block accent %}
<div class="bar b{{name|pickColour}}"></div>
{% endblock %}

{% block base %}
    <base href="../">
{% endblock %}

{% block bodyContent %}
<link rel="alternate" type="application/rss+xml" href="index/{{title}}.rss" />
<a rel="alternate" type="application/rss+xml" href="index/{{title}}.rss">Subscribe via RSS</a>
<hr>
{% for page in pages %}
    {{page.content[0]|markd}}
    {% if page.content|length > 1 %}
        <a href="{{page.name}}">Read More</a>
    {% else %}
        <a href="{{page.name}}">Permalink</a>
    {% endif %}
    <hr>
{% endfor %}


{% endblock %}
