{% extends "base.html" %}

{% block title %}{{name}}{% endblock %}

{% block base %}
    <base href="../">
{% endblock %}

{% block bodyContent %}
<link rel="alternate" type="application/rss+xml" href="index/{{name}}_{{pageNum}}.rss" />
<div id="indexHeader">
<h1>{{name}}</h1>
<a rel="alternate" type="application/rss+xml" href="index/{{name}}_{{pageNum}}.rss">Subscribe via RSS</a>
</div>
{% for post in posts %}
    {{post.content.text.split('---')[0]|jinja|markd|safe}}
    {% if post.content.text.split('---')|length > 1 %}
        <a href="{{post.content.path}}.html">Read More</a>
    {% else %}
        <a href="{{post.content.path}}.html">Permalink</a>
    {% endif %}
    <hr>
{% endfor %}

{% endblock %}
