/* line 18 */
body * {
  max-width: 600;
  align-self: center;
  width: 100%;
}

/* line 24 */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #073642;
  color: #93a1a1;
}

/* line 32 */
#background {
  display: flex;
  max-width: 100%;
  width: 100%;
  height: 100%;
  z-index: -10;
  position: fixed;
  justify-content: center;
}
/* line 40 */
#background #core {
  max-width: 660;
  height: 100%;
  background-color: #002b36;
}

/* line 47 */
.fullbleed {
  max-width: 100%;
  width: auto;
}

/* line 52 */
p {
  margin-bottom: 0;
}

/* line 56 */
a {
  color: #2aa198;
  text-decoration: none;
}
@media print {
  /* line 56 */
  a {
    color: #000;
  }
}

/* line 65 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0px;
  margin-bottom: 0;
}

/* line 72 */
.bright, strong {
  color: #eee8d5;
}
@media print {
  /* line 72 */
  .bright, strong {
    color: #000;
  }
}
