/* line 18 */
body * {
  max-width: 600;
  align-self: center;
  width: 100%;
}

/* line 24 */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #073642;
  color: #93a1a1;
}

/* line 32 */
.bar {
  min-width: 100%;
  height: 4;
}

/* line 36 */
.byellow {
  background-color: #b58900;
}

/* line 37 */
.borange {
  background-color: #cb4b16;
}

/* line 38 */
.bred {
  background-color: #dc322f;
}

/* line 39 */
.bmagenta {
  background-color: #d33682;
}

/* line 40 */
.bviolet {
  background-color: #6c71c4;
}

/* line 41 */
.bblue {
  background-color: #268bd2;
}

/* line 42 */
.bcyan {
  background-color: #2aa198;
}

/* line 43 */
.bgreen {
  background-color: #859900;
}

/* line 45 */
#background {
  display: flex;
  max-width: 100%;
  width: 100%;
  height: 100%;
  z-index: -10;
  position: fixed;
  justify-content: center;
}
/* line 53 */
#background #core {
  max-width: 660;
  height: 100%;
  background-color: #002b36;
}

/* line 60 */
.fullbleed {
  max-width: 100%;
  width: auto;
}

/* line 65 */
p {
  margin-bottom: 0;
}

/* line 69 */
a {
  color: #2aa198;
  text-decoration: none;
}
@media print {
  /* line 69 */
  a {
    color: #000;
  }
}

/* line 78 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0px;
  margin-bottom: 0;
}

/* line 85 */
.bright, strong {
  color: #eee8d5;
}
@media print {
  /* line 85 */
  .bright, strong {
    color: #000;
  }
}
