$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$baseWidth:600;

@import '_codeHighlight';
//@import "_reset-src.scss";

body * {
    max-width:$baseWidth;
    align-self:center;
    width:100%;
}

body{
    margin:0;
    display: flex;
    flex-direction:column;
    background-color:$base02;
    color:$base1;
}

.highlight{
    padding-top:0;
    font-size:125%;
    background-color:$base03;
    max-width:100%;
    width:auto;
    padding:20;
    padding-top:10;
    padding-bottom:10;
    overflow:auto;
    :first-child {
        margin:0;
    }
    pre {
        max-width:100%;
        width:auto;
    }
}

#mainNav {
    height:40;
    background-color:$base03;
    min-width:100%;
    display: flex;
    justify-content:center;
    border: 0;
    border-bottom: 6px solid #ccc;
    border-color:$base02;
    #navCore {
        max-width:$baseWidth + 140;
        min-height:100%;
        flex-wrap: nowrap;
        display: flex;
        justify-content:space-between;
        align-items:stretch;
        * {
            width:auto;
            min-height:100%;
        }
    }
    @media print {
        display:None;
    }
}

.bar{
    min-width:100%;
    height:4;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top: 6px solid #000;
    margin:1em 0;
    padding:0; 
    border-color:$base02;
    max-width:100%;
    @media print {
        color:#000;
        border-top: 2px solid #000;
    }
}

.byellow{background-color:$yellow;}
.borange{background-color:$orange;}
.bred{background-color:$red;}
.bmagenta{background-color:$magenta;}
.bviolet{background-color:$violet;}
.bblue{background-color:$blue;}
.bcyan{background-color:$cyan;}
.bgreen{background-color:$green;}

#background{
    display: flex;
    max-width:100%;
    width:100%;
    height:100%;
    z-index:-10;
    position:fixed;
    margin:0;
    justify-content:center;
    #core{
        margin:0;
	max-width:$baseWidth+60;
	height:100%;
	background-color:$base03;
    }
}

.fullbleed {
    max-width:100%;
    width:auto;
}

p {
  margin-bottom:0;
}

a {
    color:$cyan;
    text-decoration: none;
    @media print {
        color:#000;
    }

}

@media print {
     overflow: visible !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
    //Whhhhhyyyyy
    letter-spacing: 0px;
    margin-bottom:0;
}

.bright,strong{
    color:$base2;
    @media print {
        color:#000;
    }
}
